@mixin respond($px) {
  @if unitless($px) {
    $px: $px * 1px;
  }

  @media only screen and (max-width: $px) {
    @content;
  }
}

$respondSmall: 850px;

.map {
  &__left {
    flex: 0 0 50%;
    min-height: 700px;
    @include respond($respondSmall) {
      min-height: 500px;
    }
  }

  &__right {
    flex: 0 0 50%;
    padding: 80px;

    @include respond($respondSmall) {
      padding: 20px;
    }

    .link {
      margin-top: 60px;
    }

    .heading {
      margin-bottom: 60px;
    }
  }

  @include respond($respondSmall) {
    &__left,
    &__right {
      flex: 0 0 100%;
    }
  }

  #map__holder {
    height: 100%;
    width: 100%;
  }

  &__content {
    margin: 40px 0;
  }

  &__category {
    &-item ul {
      display: none;
    }
    &-text--active ~ ul {
      display: block;
    }
  }

  &__categories {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      ul {
        margin-top: 10px;
      }
    }

    li {
      margin: 0 0 4px;

      span {
        text-transform: uppercase;
        transition: opacity 200ms linear;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    > ul {
      border-bottom: 1px solid #111;

      & > li {
        border-top: 1px solid #111;
        padding: 10px 0;
      }
    }
  }

  &__marker {
    &-item {
      display: flex;
      span {
        display: block;
      }
    }

    &-text {
      text-transform: none !important;
    }
  }

  &__category-number {
    flex: 0 0 20px;
    margin-right: 5px;
  }
}
